@import 'styles/variables.scss';

.repoLink {
  color: $green;
  display: flex;
  align-items: center;
  transition: color 0.3s ease-in-out;
  break-inside: avoid;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;

  &:hover {
    color: $black-100;
  }
}

.icon {
  padding-right: 10px;
}

.linkName {
  max-width: calc(100% - 40px);
}
